<!doctype html>
<html lang="en">

  <head>
    <meta charset="utf-8">

    <title>Data Binding Best Practices</title>

    <meta name="description" content="A presentation on the best practices that can be used in knockout, angular and ember">
    <meta name="author" content="Brendan McLoughlin">

    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <link rel="stylesheet" href="css/reveal.min.css">
    <link rel="stylesheet" href="css/theme/default.css" id="theme">

    <!-- For syntax highlighting -->
    <link rel="stylesheet" href="lib/css/zenburn.css">
    <script src="js/jquery-2.0.3.min.js"></script>
    <!-- If the query includes 'print-pdf', use the PDF print sheet -->
    <script>
      document.write( '<link rel="stylesheet" href="css/print/' + ( window.location.search.match( /print-pdf/gi ) ? 'pdf' : 'paper' ) + '.css" type="text/css" media="print">' );
    </script>

    <!--[if lt IE 9]>
        <script src="lib/js/html5shiv.js"></script>
        <![endif]-->
  </head>

  <body>

    <div class="reveal">

      <!-- Any section element inside of this container is displayed as a slide -->
      <div class="slides">
        <section>
          <h1>Data Binding Best Practices</h1>
          <p>
            Web Unleashed 2013
          </p>
          <p><a href="https://bmac.github.io/data-binding-best-practice">https://bmac.github.io/data-binding-best-practice</a></p>
        </section>

        <section>
          <div class="about-img">
            <img src="images/bob.png" alt="Bob" class="bob">
          </div>
          <div class="about-meta">
            <h2>Brendan McLoughlin</h2>
            <h3>Bocoup</h3>
          </div>
          <aside class="notes">
            Oh hey, these are some notes. They'll be hidden in your presentation, but you can see them if you open the speaker notes window (hit 's' on your keyboard).
          </aside>
        </section>

        <section>
          <h2>Where Did this Talk Come From?</h2>
          <ul>
            <li>Inventory Tracking for Restaurants - <img src="images/ko-logo.png" alt="Knockout Logo" height="50em" class="logo" ></li>
            <li>Inventory Tracking for Ecommerce - <img src="images/angularjs-logo.png" alt="Angular Logo" height="50em" class="logo"> Angular</li>
            <li>WebRTC App - <img src="images/emberjs-logo.png" alt="Ember Logo" height="50em" class="logo"> Ember</li>
          </ul>
        </section>

        <section data-markdown id="what-is-data-binding">

          <script type="text/template">
            ## What is Data Binding?

            - Link data to the UI
            - Changes to the data or the DOM are kept in sync
            - Relationships are described with a declaritive syntax

            ```JavaScript 
            var tickets = [
                { name: "Economy", price: 199.95 },
                { name: "Business", price: 449.22 },
                { name: "First Class", price: 1199.99 }
            ];
            ```

<p>
Choose a ticket class:
<select class="form-control" data-bind="options: tickets, 
                       optionsCaption: 'Choose...',
                       optionsText: 'name',
                       value: chosenTicket"></select>
</p>                   
<p data-bind="with: chosenTicket">
You have chosen <b data-bind="text: name"></b>
($<span data-bind="text: price"></span>)    
</p>
            <aside class="notes">
              <ul>
                <li>Data is some JavaScript state object</li>
                <li>In this case the UI is the DOM</li>
                <li>reduces boilerplate keeping html up to date</li>
                <li>a way to write dynamic HTML using HTML</li>
                <li>Not the only way but all the examples here use a template or the dom to describe the relationship between data and the dom</li>
              </ul>
            </aside>
          </script>
        </section>

    <script type="text/javascript">
      $(function() {
        function TicketsViewModel() {
            this.tickets = [
                { name: "Economy", price: 199.95 },
                { name: "Business", price: 449.22 },
                { name: "First Class", price: 1199.99 }
            ];
            this.chosenTicket = ko.observable();
            this.resetTicket = function() { this.chosenTicket(null) }
        }
        console.log($('#what-is-data-binding')[0]);
        setTimeout(function() {
        ko.applyBindings(new TicketsViewModel(), $('#what-is-data-binding')[0]);
      }, 1000);
      });
    </script>

        <section>
          <img src="images/gir.jpg" class="gir">
          <h2>I Love Data Binding</h2>
          <ul>
            <li>Great for applications that have complex UI requirements</li>
            <li class="fragment">Enterprize apps (Validaton, Worflows)</li>
            <li class="fragment">Dashboards (Real-time)</li>
            <li class="fragment">WebRTC (Heavy use of browser APIs)</li>
            <li class="fragment">Managing both touch and pointer based interactions</li>
            <li class="fragment">Complext DOM manipulation in response to data changes</li>
          </ul>
          <cite ><a href="https://lh3.ggpht.com/-7ntFFNpikqM/Tx67iYPZTpI/AAAAAAAABaQ/lk1n55zhFls/s1600/i_love_you_cupcake.jpg">https://lh3.ggpht.com/-7ntFFNpikqM/Tx67iYPZTpI/AAAAAAAABaQ/lk1n55zhFls/s1600/i_love_you_cupcake.jpg</a></cite>
          <aside class="notes">
          </aside>
        </section>

        <section>
          <h2>Data Binding is Not a New Concept</h2>
          <ul>
            <li>Microsoft's Windows Presentation Foundation</li>
            <li>Adobe's Flex</li>
            <li>Apple's Key Value Observation</li>
            <li>PowerBuilder's DataWindow</li>
            <li>Others</li>
          </ul>
            <aside class="notes">
              <ul>
                <li>Most of these are Application Frameworks</li>
                <li>Desktop or in Plugins</li>
                <li>The web is now ready for the complex interactions these frameworks use to provide</li>
                <li>We can take the good ideas from them and use them on the web</li>
              </ul>
            </aside>
        </section>

        <section>
          <h2>JavaScript's Data Binding Landscape</h2>
          <ul>
            <li>Angular (late 2009)</li>
            <li>Knockout (2010)</li>
            <li>Ember (2011)
              <ul><li>Sproutcore (2007)</li></ul>
            </li>
            <li>Meteor (2011)</li>
            <li>Ractive (2012)</li>
            <li>Polymer (2012)</li>
          </ul>
           <aside class="notes">
              <ul>
                <li>Reletivly recent</li>
                <li>We've had some time to shake out the bugs</li>
                <li>Browsers are getting faster</li>
                <li>Network requests are still slow</li>
                <li>Browsers can do more</li>
              </ul>
            </aside>
        </section>

        <section data-markdown>

          <script type="text/template">
            ## Example Time

            - Angular
            - Ember
            - Knockout
            <aside class="notes">
              <ul>
                <li>Take a look at binding some data</li>
                <li>Looks at a simple example of how the frameworks do binding under the hood</li>
                <li>Identify common patterns</li>
              </ul>
            </aside>
          </script>
        </section>

        <!-- <section data-markdown> -->
        <!--   <script type="text/template"> -->
        <!--     ## How do you data bind? Angular -->

        <!--     ```JavaScript -->
        <!--     var Controller = function($scope) { -->
        <!--       $scope.name = 'foo'; -->
        <!--       $scope.reset = function() { -->
        <!--         $scope.name = 'foo'; -->
        <!--       }; -->
        <!--       $scope.length = function() { -->
        <!--         return $scope.name.length; -->
        <!--       }; -->
        <!--     }; -->
        <!--     ``` -->
        <!--     ```html -->
        <!--     <input ng-model="name" value="foo"/> -->
        <!--     <button ng-click="reset()">Reset</button> -->
        <!--     <div>Name: {{name}} Name Length: {{length()}} </div> -->
        <!--     ``` -->

        <!--     <input class="form-control" ng-model="name" value="foo"/><button ng-click="reset()">Reset</button> -->
        <!--     <div>Name: {{name}} Name Length: {{length()}} </div> -->
        <!--   </script> -->
        <!-- </section> -->

        <section ng-app="myModule">
<section ng-controller="Controller">
<h2>Angular</h2>
<pre><div class="JavaScript perl">var Controller = function(<span class="variable">$scope</span>) {
  <span class="variable">$scope</span>.name = <span class="string">'{{name}}'</span>;
  <span class="variable">$scope</span>.<span class="keyword">reset</span> = function() {
    <span class="variable">$scope</span>.name = <span class="string">'foo'</span>;
    <span class="variable">$scope</span>.$apply();<span class="comment">// sometimes</span>
  };
  <span class="variable">$scope</span>.<span class="keyword">length</span> = function() {
    <span class="keyword">return</span> <span class="variable">$scope</span>.name.<span class="keyword">length</span>;
  };  <span class="comment">// this.length(); => {{ length() }}</span>
};</div></pre>
<pre><div class="html xml"><span class="tag">&lt;<span class="title">input</span> <span class="attribute">ng-model</span>=<span class="value">"name"</span> <span class="attribute">value</span>=<span class="value">"{{name}}"</span>/&gt;</span>
<span class="tag">&lt;<span class="title">button</span> <span class="attribute">ng-click</span>=<span class="value">"reset()"</span>&gt;</span>Reset<span class="tag">&lt;/<span class="title">button</span>&gt;</span>
<span class="tag">&lt;<span class="title">div</span>&gt;</span>Name: {<span>{</span>name}} Name Length: {<span>{</span>length()}} <span class="tag">&lt;/<span class="title">div</span>&gt;</span></div></pre>
<p><input class="form-control" ng-model="name" value="foo"><button ng-click="reset()">Reset</button></p>
<div>Name: {{name}} Name Length: {{length()}} </div>
<script>
            function Controller($scope) {
              console.log('controller');
              $scope.name = 'foo';
              $scope.reset = function() {
                $scope.name = 'foo';
              };
              $scope.length = function() {
                return $scope.name.length;
              };
            };
</script>
</section>
<section ng-controller="DirectiveExampleController" style="padding-top: 0px;" ><pre><div class="JavaScript php"><span class="variable">$scope</span>.price = <span class="number">{{price}}</span>; <span class="comment">//...</span>
myModule.directive(<span class="string">'numberInput'</span>, <span class="function"><span class="keyword">function</span> <span class="params">()</span> {</span>
  <span class="keyword">return</span> {
    template: <span class="string">'&lt;input type="text"/&gt;'</span>,
    restrict: <span class="string">'E'</span>,
    <span class="keyword">require</span>: <span class="string">'ngModel'</span>,
    link: function(<span class="variable">$scope</span>, element, attrs, modelCtrl) {
      element.on(<span class="string">'blur'</span>, function() {
        <span class="variable">$scope</span>.<span class="variable">$apply</span>(function() {
          <span class="keyword">var</span> num = parseInt(element.value.replace(/,/g, <span class="string">''</span>), <span class="number">10</span>);
          modelCtrl.<span class="variable">$modelValue</span> = num;
        });
      });

      modelCtrl.<span class="variable">$render</span> = <span class="function"><span class="keyword">function</span> <span class="params">()</span> {</span>
        element.value = modelCtrl.<span class="variable">$modelValue</span>.toLocaleString();
      }; <span class="comment">// missing closing braces...</span></div></pre>
  <pre><div class="html xml"><span class="tag">&lt;<span class="title">label</span>&gt;</span> Price: <span class="tag">&lt;<span class="title">number-input</span> <span class="attribute">ng-model</span>=<span class="value">"price"</span>&gt;</span><span class="tag">&lt;/<span class="title">number-input</span>&gt;</span><span class="tag">&lt;<span class="title">/label</span>&gt;</span></div></pre>
<label> Price:<number-input ng-model="price"></number-input></label>
</section>
<!--         <section data-markdown style="padding-top: 0"> -->
<!--           <script type="text/template"> -->
<!--             ```JavaScript -->
<!-- $scope.price = 0; //... -->
<!-- myModule.directive('numberInput', function () { -->
<!--   return { -->
<!--     template: '<input type="text"/>', -->
<!--     restrict: 'E', -->
<!--     require: 'ngModel', -->
<!--     link: function($scope, element, attrs, modelCtrl) { -->
<!--       element.on('blur', function() { -->
<!--         $scope.$apply(function() { -->
<!--           var num = parseInt(element.value.replace(/,/g, ''), 10); -->
<!--           modelCtrl.$modelValue = num; -->
<!--         }); -->
<!--       }); -->

<!--       modelCtrl.$render = function () { -->
<!--         element.value = modelCtrl.$modelValue.toLocaleString(); -->
<!--       }; // missing closing braces... -->
<!--             ``` -->
<!--             ```html -->
<!--             <number-input ng-model="price"></number-input> -->
<!--             ``` -->
<!--             <input class="form-control" ng-model="name" value="0"/> -->
<!--           </script> -->
<!--         </section> -->
        </section>


        <!-- <section data-markdown> -->
        <!--   <script type="text/template"> -->
        <!--     ## Ember -->

        <!--     ```JavaScript -->
            <!-- var ExampleController = Ember.ObjectController.extend({ -->
            <!--   actions: { -->
            <!--     reset: function() { -->
            <!--       this.set('name', 'foo'); -->
            <!--     } -->
            <!--   }, -->
            <!--   name: 'foo', -->
            <!--   length: function() { -->
            <!--     return this.get('name').length; -->
            <!--   }.property('name') -->
            <!-- }; -->
        <!--     ``` -->
        <!--     ```html -->
        <!--     {{input value=name }} -->
        <!--     <button {{action 'reset'}}>Reset</button> -->
        <!--     <div>Name: {{ name }} Name Length: {{ length }}</div> -->
        <!--     ``` -->
        <!--   </script> -->
        <!--     {{input value=name class="form-control"}}<button {{action 'reset'}}>Reset</button> -->
        <!--     <div>Name: {{ name }} Name Length: {{ length }}</div> -->
        <!-- </section> -->
<section>
<section id="ember-example">
</section>
<section id="ember-component-example">
</section>
</section>
<script>
$(function() {
  AppOne = Ember.Application.create({
    rootElement: '#ember-example'
  });
  AppOne.Router.reopen({
      location: 'none'
  });
  AppOne.ApplicationRoute = Ember.Route.extend({
      model: function() {
        return {exampleOne: true};
      }
  });
  AppOne.ExampleController = Ember.ObjectController.extend({
    actions: {
      reset: function() {
        this.set('name', 'foo');
       }
     },
     name: 'foo',
     length: function() {
       return this.get('name').length;
      }.property('name') 
    });
});
$(function() {
  AppTwo = Ember.Application.create({
    rootElement: '#ember-component-example'
  });
  AppTwo.Router.reopen({
      location: 'none'
  });
  AppTwo.ExampleBController = Ember.ObjectController.extend({
      price: 100
  });
  AppTwo.NumberInputComponent = Ember.Component.extend({
  setUpEvents: function() {
    this.$('input').on('blur', this.updateValue.bind(this));
    this.setValue();
  }.on('didInsertElement'),
  updateValue: function() {
    var $input = this.$('input');
    var number = parseInt($input.val().replace(/,/g), 10);
    this.set('value', number);
  },
  setValue: function() {
    var $input = this.$('input');
    $input.val(this.get('value').toLocaleString());
  }.observes('value')
});
});
</script>
<script type="text/x-handlebars">
  {{#if exampleOne}}
  {{render 'example'}}
  {{else}}
  {{render 'exampleB'}}
  {{/if}}
</script>
  <script type="text/x-handlebars" data-template-name="example">
<h2>Ember</h2>
<pre><div class="JavaScript actionscript"><span class="keyword">var</span> ExampleController = Ember.ObjectController.extend({
  actions: {
    reset: <span class="keyword">function</span>() {
      <span class="keyword">this</span>.<span class="keyword">set</span>(<span class="string">'name'</span>, <span class="string">'foo'</span>);
    }
  },
  name: <span class="string">'{{ name }}'</span>,
  length: <span class="keyword">function</span>() { 
    <span class="keyword">return</span> <span class="keyword">this</span>.<span class="keyword">get</span>(<span class="string">'name'</span>).length;
  }.property(<span class="string">'name'</span>) <span class="comment">// this.get('length'); => {{ length }}</span>
};</div></pre>
<pre><div class="html xml">{<span>{</span>input value=name }}
<span class="tag">&lt;<span class="title">button</span> {<span>{</span><span class="attribute">action</span> '<span class="attribute">reset</span>'}}&gt;</span>Reset<span class="tag">&lt;/<span class="title">button</span>&gt;</span>
<span class="tag">&lt;<span class="title">div</span>&gt;</span>Name: {<span>{</span> name }} Name Length: {<span>{</span> length }}<span class="tag">&lt;/<span class="title">div</span>&gt;</span></div></pre>
{{input class="form-control" value=name }}
<button {{action 'reset'}}>Reset</button>
<div>Name: {{ name }} Name Length: {{ length }}</div>
  </script>

<script type="text/x-handlebars" id="components/number-input">
  <input type="text" class="form-control"/>
</script>
<script type="text/x-handlebars" data-template-name="exampleB">
<h2>Ember</h2>
<pre><div class="JavaScript coffeescript">controller.set(<span class="string">'price'</span>, <span class="number">{{ price }}</span>);
App.NumberInputComponent = Ember.Component.extend({
  setUp: <span class="reserved">function</span>() {
    <span class="keyword">this</span>.$(<span class="string">'input'</span>).<span class="literal">on</span>(<span class="string">'blur'</span>, <span class="keyword">this</span>.updateValue.bind(<span class="keyword">this</span>));
    <span class="keyword">this</span>.setValue();
  }.<span class="literal">on</span>(<span class="string">'didInsertElement'</span>),
  updateValue: <span class="reserved">function</span>() {
    <span class="reserved">var</span> $input = <span class="keyword">this</span>.$(<span class="string">'input'</span>);
    <span class="reserved">var</span> number = parseInt($input.val().replace(<span class="regexp">/,/g</span>), <span class="number">10</span>);
    <span class="keyword">this</span>.set(<span class="string">'value'</span>, number);
  },
  setValue: function() {
    <span class="reserved">var</span> $input = <span class="keyword">this</span>.$(<span class="string">'input'</span>);
    $input.val(this.get(<span class="string">'value'</span>).toLocaleString());
  }.observes(<span class="string">'value'</span>)
};</div></pre>
<pre><div class="html xml"><span class="tag">&lt;<span class="title">script</span> <span class="attribute">type</span>=<span class="value">"text/x-handlebars"</span> <span class="attribute">id</span>=<span class="value">"components/number-input"</span>&gt;</span><span class="tag">
  &lt;<span class="title">input</span> type=<span class="string">"text"</span> /&gt;
&lt;/<span class="title">script</span>&gt;</span>
{<span>{</span>number-input value=price }}</div></pre>
{{number-input value=price}}
</script>

        <!-- <section data-markdown> -->
        <!--   <script type="text/template"> -->
        <!--     ## Knockout -->

        <!--     ```JavaScript -->
        <!--     var ViewModel = function() { -->
        <!--       this.name = ko.observable('foo'); -->
        <!--       this.reset = function() { -->
        <!--         this.name('foo'); -->
        <!--       }; -->
        <!--       this.length = ko.computed(function() { -->
        <!--         return this.name().length; -->
        <!--       }, this); -->
        <!--     }; -->
        <!--     ko.applyBindings(new ViewModel()); -->
        <!--     ``` -->
        <!--     ```html -->
        <!--     <input data-bind="value: name, valueUpdate: afterkeydown" value="foo"/> -->
        <!--     <button data-bind="click: reset">Reset</button> -->
        <!--     <div>Name: <span data-bind="text: name"></span> Name Length: <span data-bind="text: length"></span></div> -->
        <!--     ``` -->

        <!--     <input class="form-control" data-bind="value: name, valueUpdate: 'afterkeydown'" value="foo"/><button data-bind="click: reset">Reset</button> -->
        <!--     <div>Name: <span data-bind="text: name"></span> Name Length: <span data-bind="text: length"></span></div> -->
        <!--   </script> -->
        <!-- </section> -->
<section>
<section id="ko-example1">
<h2>Knockout</h2>
<pre><div class="JavaScript javascript"><span class="keyword">var</span> ViewModel = <span class="keyword">function</span>() {
  <span class="keyword">this</span>.name = ko.observable(<span class="string">'<span data-bind="text: name"></span>'</span>);
  <span class="keyword">this</span>.reset = <span class="keyword">function</span>() {
    <span class="keyword">this</span>.name(<span class="string">'foo'</span>);
  };
  <span class="keyword">this</span>.length = ko.computed(<span class="keyword">function</span>() {
    <span class="keyword">return</span> <span class="keyword">this</span>.name().length;
    }, <span class="keyword">this</span>);  <span class="comment">// this.length(); => <span data-bind="text: length"></span></span>
};
ko.applyBindings(<span class="keyword">new</span> ViewModel());</div></pre>
<pre><div class="html xml"><span class="tag">&lt;<span class="title">input</span> <span class="attribute">data-bind</span>=<span class="value">"value: name, valueUpdate: 'afterkeydown'"</span> <span class="attribute">value</span>=<span class="value">"<span data-bind="text: name"></span>"</span>/&gt;</span>
<span class="tag">&lt;<span class="title">button</span> <span class="attribute">data-bind</span>=<span class="value">"click: reset"</span>&gt;</span>Reset<span class="tag">&lt;/<span class="title">button</span>&gt;</span>
<span class="tag">&lt;<span class="title">div</span>&gt;</span>Name: <span class="tag">&lt;<span class="title">span</span> <span class="attribute">data-bind</span>=<span class="value">"text: name"</span>&gt;</span><span class="tag">&lt;/<span class="title">span</span>&gt;</span> 
Name Length: <span class="tag">&lt;<span class="title">span</span> <span class="attribute">data-bind</span>=<span class="value">"text: length"</span>&gt;</span><span class="tag">&lt;/<span class="title">span</span>&gt;</span><span class="tag">&lt;/<span class="title">div</span>&gt;</span></div></pre>
<p><input class="form-control" data-bind="value: name, valueUpdate: 'afterkeydown'" value="foo"><button data-bind="click: reset">Reset</button></p>
<div>Name: <span data-bind="text: name"></span> Name Length: <span data-bind="text: length"></span></div>
<script>
$(function() {
            var ViewModel = function() {
              this.name = ko.observable('foo');
              this.reset = function() {
                this.name('foo');
              };
              this.length = ko.computed(function() {
                return this.name().length;
              }, this);
            };
            ko.applyBindings(new ViewModel(), document.getElementById('ko-example1'));
});
</script>
</section>
<!-- <section data-markdown> -->

<!--           <script type="text/template"> -->
<!--             ```JavaScript -->
<!-- viewModel.price = ko.observable(100); -->
<!-- ko.bindingHandlers.number = { -->
<!--     init: function(element, valueAccessor, allBindingsAccessor, viewModel, bindingContext) { -->
<!--         var observable = valueAccessor(); -->
<!--         element.addEventListener('change', function() { -->
<!--            var number = parseInt(element.value.replace(/,/g, ''), 10); -->
<!--            observable(number); -->
<!--         }); -->
<!--     }, -->
<!--     update: function(element, valueAccessor, allBindingsAccessor, viewModel, bindingContext) { -->
<!--         var number = ko.unwrap(valueAccessor()); -->
<!--         element.value = number.toLocalString(); -->
<!--     }}; -->
<!--             ``` -->
<!-- ```html -->
<!-- <label> Price: <input type="text" data-bind="number: price" /></label> -->
<!-- ``` -->
<!-- <label> Price: <input type="text" class="form-control" data-bind="number: price" /></label> -->

<!--           </script> -->
<!-- </section> -->
<section id="ko-binding-example"><pre><div class="JavaScript javascript">viewModel.price = ko.observable(<span class="number" data-bind="text: price"></span>);
ko.bindingHandlers.number = {
    init: <span class="keyword">function</span>(element, valueAccessor) {
        <span class="keyword">var</span> observable = valueAccessor();
        element.addEventListener(<span class="string">'blur'</span>, <span class="keyword">function</span>() {
           <span class="keyword">var</span> number = parseInt(element.value.replace(<span class="regexp">/,/g</span>, <span class="string">''</span>), <span class="number">10</span>);
           observable(number);
        });
    },
    update: <span class="keyword">function</span>(element, valueAccessor) {
        <span class="keyword">var</span> number = ko.unwrap(valueAccessor());
        element.value = number.toLocaleString();
    }};</div></pre>
<pre><div class="html xml"><span class="tag">&lt;<span class="title">label</span>&gt;</span> Price: <span class="tag">&lt;<span class="title">input</span> <span class="attribute">type</span>=<span class="value">"text"</span> <span class="attribute">data-bind</span>=<span class="value">"number: price"</span> /&gt;</span><span class="tag">&lt;/<span class="title">label</span>&gt;</span></div></pre>
<label> Price: <input type="text" class="form-control" data-bind="number: price"></label>
<script>
$(function() {
ko.bindingHandlers.number = {
    init: function(element, valueAccessor, allBindingsAccessor, viewModel, bindingContext) {
        var observable = valueAccessor();
        element.addEventListener('change', function() {
           var number = parseInt(element.value.replace(/,/g, ''), 10);
           observable(number);
        });
    },
    update: function(element, valueAccessor, allBindingsAccessor, viewModel, bindingContext) {
        var number = ko.unwrap(valueAccessor());
        element.value = number.toLocaleString();
    }};
var vm = {
  price: ko.observable(100)
};
ko.applyBindings(vm, $('#ko-binding-example')[0]);
});
</script>
</section>
</section>


        <section>
          <h2>Presentation Model</h2>
          <p>Source of Truth for Application State</p>
          <ul>
            <li><img src="images/angularjs-logo.png" alt="Angular Logo" height="50em" class="logo"> $scope </li>
            <li><img src="images/emberjs-logo.png" alt="Ember Logo" height="50em" class="logo"> Controller </li>
            <li><img src="images/ko-logo.png" alt="Knockout Logo" height="50em" class="logo" > View Model</li>
          </ul>
        </section>

        <section>
          <h2>Template</h2>
          <p>Describes the Relationship Between State and the DOM</p>
          <ul>
            <li><img src="images/angularjs-logo.png" alt="Angular Logo" height="50em" class="logo"> HTML </li>
            <li><img src="images/emberjs-logo.png" alt="Ember Logo" height="50em" class="logo"> Handlebars </li>
            <li><img src="images/ko-logo.png" alt="Knockout Logo" height="50em" class="logo" > HTML</li>
          </ul>
        </section>


        <section>
          <h2>Binding</h2>
          <p>Update the DOM to Reflect the Presentation Model</p>
          <p>Translates DOM Events into Application Actions</p>

          <ul>
            <li><img src="images/angularjs-logo.png" alt="Angular Logo" height="50em" class="logo"> Directives </li>
            <li><img src="images/emberjs-logo.png" alt="Ember Logo" height="50em" class="logo"> Components/Views </li>
            <li><img src="images/ko-logo.png" alt="Knockout Logo" height="50em" class="logo" > Binding</li>
          </ul>
        </section>

        <section data-markdown>

          <script type="text/template">
            ## What Does the Architecture Look Like?

          </script>
        </section>

        <section data-markdown>

          <script type="text/template">
            ## Whats Missing?
            - Business/Domain Logic?
              - Services
            - What Sets up the Presentation Model and Template?
              - Router
            - How is the Data Persisted?
              - Model
          </script>
        </section>


        <section>
          <h1>Best Practices</h1>
          <img src="images/dilbert.jpg" class="dilbert">
          <br>
          <cite><a href="http://dilbert.com/strips/comic/2008-09-03/">http://dilbert.com/strips/comic/2008-09-03/</a></cite>
        </section>
        <section>
        <section data-markdown>

          <script type="text/template">
            ## The Presentation Model is for State
            - Good
              - State Values
              - Computed Values
              - Simple Handlers
            - Bad
              - DOM Manipulation
              - Persistence Logic
              - Ajax/Network Logic
            <aside class="notes">
              <ul>
                <li>State Lives in JavaScript not the DOM</li>
                <li>When getting started people often try to put everything here</li>
                <li>Usually works with the model</li>
                <li>All about state, responding to domain events, Do not put business logic here</li>
              </ul>
            </aside>
          </script>
        </section>

        <section data-markdown>

          <script type="text/template">
            ## Good
            ```JavaScript
            App.StateController = Ember.ObjectController.extend({
              actions: {
                toggleEdit: function() { // Simple Event Handler
                  this.tiggleProperty('edit')
                },
                save: function() { // Delegate complex logic to services
                  localStorageService.save(this.get('model'));
                }
              },
              editing: false,
              author: {}, // State
              authorName: function() { // Computed State
                var firstName = this.get('author.firstName');
                var lastName = this.get('author.lastName');
                return firstName + ' ' + lastName;
              }.property('author.firstName', 'author.lastName')
            ```
          </script>
        </section>

        <section data-markdown>

          <script type="text/template">
            ## Bad
            ```JavaScript
            var viewModel = {
              toggleEdit: function() {
                $('.edit-controls').toggleClass('hide'); // DOM manupulation
                $('.view-panel').toggleClass('hide');
              },
              save: function() {
                var model = ko.toJS(this); // Complex logic
                localStorage.setItem(this.key, JSON.stringify(model));
              },
              load: function() {
                var self = this; // AJAX
                $.ajax(this.url).then(function() {
                  self.author(data.author);
                  self.title(data.title);
                });
              }
            };
            ```
          </script>
        </section>
        </section>

        <section>
        <section data-markdown>
          <script type="text/template">
            ## Business Logic Belongs in Serivces
            - Work with JavaScript Objects not the DOM
            - Reusable
            - Testable
          </script>
        </section>

        <section data-markdown>
          <script type="text/template">
            ## Hints that your Code Should go in a Service
            - Ajax
            - Transformation of Data
            - Iteration or Underscore Methods
            - Managing Promises
            - Facade for 3rd party APIs
          </script>
        </section>

        <section data-markdown>
          <script type="text/template">
            ## Services should transform data but not store it
            ```JavaScript
            define(function() {
              var internalState = 0;
              return {
                goodMethod: function(input) {
                  return _(input).pluck('foo').map(function(val) { return 2 * val;});
                },
                badMethod: function() {
                  return ++internalState;
                }
              };
            });
            ```
          </script>
        </section>
        
        </section>

        <section>
          <section>
            <h2>Logicless Templates</h2>
              <img src="images/spock.jpg" class="spock"/>
              <cite><a href="http://www.calwatchdog.com/wp-content/uploads/2013/05/Spock-logic">http://www.calwatchdog.com/wp-content/uploads/2013/05/Spock-logic</a></cite>
            <aside class="notes">
              <ul>
                <li>Templates are about describeing the relationship between data and the DOM</li>
                <li>You really want to keep logic in the presentaion model</li>
                <li>If you find your self wanting to add logic to the template your probabally want to use a computed property</li>
              </ul>
            </aside>
          </section>
          <section data-markdown>
            <script type="text/template">
              ## Bad

              ```html
              <label ng-app>Batting Average: {{hits / atBats}}</label>
              ```

              ```html
              <span data-bind="if: onsale || superCheap">
                Buy Me!
              </span>
              ```

              ### Unacceptable

              ```html
<button ng-click="count = count + 1" ng-init="count=0">
  Increment
</button>
             ```
<aside class="notes">
  <ul>
    <li>Logic in templates is evil</li>
    <li>ember doesn't let you do this/ ember gets this 100% right</li>
  </ul>
</aside>
            </script>
          </section>
          <section data-markdown>
            <script type="text/template">
              ## If/Else :)

              ```html
              {{#if inStock}}
                <button>Buy It Now!</button>
              {{else}}
                <span>Sold Out!</span>
              {{/if}}
              ```
            </script>
          </section>

          <section data-markdown>
            <script type="text/template">
              ## Passing Arguments :)

              ```html
              <button {{action "buyItNow" item}}>✓</button>
              ```

              ```html
              <button ng-click="buyItNow($event, item)">
               Increment
              </button>
              ```
              #### Bad
              ```html
              <button ng-click="buyItNow($event, item || 'default')">
               Increment
              </button>
              ```
            </script>
          </section>

          <section data-markdown>
            <script type="text/template">
              ## Unless You are Using Knockout :(

              ```html
              <button data-bind="click: function(vm) {vm.something(foo); }">
                Do Something
              </button>
              ```

            </script>
          </section>
        </section>

        <section>
        <section data-markdown>
          <script type="text/template">
            ## Binding Tips
            - DOM Manipulation
            - jQuery
            - Event Listeners
            - Wrap existing UI widgets in binding
                - https://github.com/angular-ui
                - https://github.com/emberjs-addons
                - https://github.com/Knockout-Contrib
          </script>
        </section>

        <section data-markdown>
          <script type="text/template">
            ## Always Traverse Down the DOM Tree

            #### Good
            ```JavaScript
            link: function($scope, element, attrs, modelCtrl) {
              $(element).datepicker();
            } //...
            ```

            #### Bad
            ```JavaScript
            link: function($scope, element, attrs, modelCtrl) {
              element.parent().find('.placeholder').click(function() {
                 element.parent().find('.placeholder').hide();
              } // ...
            ```

          </script>
        </section>

<!--         <section data-markdown id="focusState"> -->
<!--           <script type="text/template"> -->
<!--             ## Exposing state as observables -->
<!--             ```JavaScript -->
<!-- var VM = function() { -->
<!--     this.name = ko.observable(); -->
<!--     this.inputHasFocus = ko.observable(false); -->
<!--     this.hilight = ko.computed(function () { -->
<!--       return !(this.name() || this.inputHasFocus()); -->
<!--     }, this); -->
<!-- }; -->
<!-- ko.bindingHandlers['hasFocus'] = { -->
<!--     init: function (element, valueAccessor) { -->
<!--         var observable = valueAccessor(); -->
<!--         $(element).on('focus', function () { -->
<!--             observable(true); -->
<!--         }); -->
<!--         $(element).on('blur', function () { -->
<!--             observable(false); -->
<!--         }); // ... -->
<!--             ``` -->

<!--             ```html -->
<!--             <label data-bind="css: {'hilight': hilight}">Favorite Fruit:</label> -->
<!--             <input id="fruit" data-bind="value: name, hasFocus: inputHasFocus"/> -->
<!--             ``` -->
<!--             <label data-bind="css: {'hilight': hilight}">Favorite Fruit:</label> -->
<!--             <input id="fruit" class="form-control" data-bind="value: name, hasFocus: inputHasFocus"/> -->
<!--           </script> -->
<!--         </section> -->
<section id="focusState">
<h2>Expose State as an Observable</h2>
<pre><div class="JavaScript javascript"><span class="keyword">var</span> VM = <span class="keyword">function</span>() {
    <span class="keyword">this</span>.name = ko.observable('<span data-bind="text: name"></span>');
    <span class="keyword">this</span>.inputHasFocus = ko.observable(<span class="literal"><span data-bind="text: inputHasFocus"></span></span>);
    <span class="keyword">this</span>.hilight = ko.computed(<span class="function"><span class="keyword">function</span> <span class="params">()</span> {</span> 
      <span class="keyword">return</span> !(<span class="keyword">this</span>.name() || <span class="keyword">this</span>.inputHasFocus()); <span class="comment">// <span data-bind="text: hilight"></span></span>
    }, <span class="keyword">this</span>);
};
ko.bindingHandlers[<span class="string">'hasFocus'</span>] = {
    init: <span class="function"><span class="keyword">function</span> <span class="params">(element, valueAccessor)</span> {</span>
        <span class="keyword">var</span> observable = valueAccessor();
        $(element).on(<span class="string">'focus'</span>, <span class="function"><span class="keyword">function</span> <span class="params">()</span> {</span>
            observable(<span class="literal">true</span>);
        });
        $(element).on(<span class="string">'blur'</span>, <span class="function"><span class="keyword">function</span> <span class="params">()</span> {</span>
            observable(<span class="literal">false</span>);
        }); <span class="comment">// ...</span></div></pre>
<pre><div class="html xml"><span class="tag">&lt;<span class="title">label</span> <span class="attribute">data-bind</span>=<span class="value">"css: {'hilight': hilight}"</span>&gt;</span>Favorite Fruit:<span class="tag">&lt;/<span class="title">label</span>&gt;</span>
<span class="tag">&lt;<span class="title">input</span> <span class="attribute">id</span>=<span class="value">"fruit"</span> <span class="attribute">data-bind</span>=<span class="value">"value: name, hasFocus: inputHasFocus"</span>/&gt;</span></div></pre>
<p><label data-bind="css: {'hilight': hilight}" class="hilight">Favorite Fruit:</label></p>
<input id="fruit" class="form-control focus-state" data-bind="value: name, hasFocus: inputHasFocus">
<aside class="notes">
  <ul>
    <li>jQuery widgets </li>
    <li>Modals</li>
    <li>I want perform this action only when x is shown/hidden</li>
  </ul>
</aside>
</section>
<script>
$(function() {
var VM = function() {
    this.name = ko.observable();
    this.inputHasFocus = ko.observable(false);
    this.hilight = ko.computed(function () {
      return !(this.name() || this.inputHasFocus());
    }, this);
};
ko.bindingHandlers['hasFocus'] = {
    init: function (element, valueAccessor) {
        var observable = valueAccessor();
        $(element).on('focus', function () {
            observable(true);
        });
        $(element).on('blur', function () {
            observable(false);
        });
}};
ko.applyBindings(new VM(), $('#focusState')[0]);
});
</script>
        </section>

        <section>
          <h2>Keep Presentation Logic Close to the DOM</h2>
<pre><div class="html xml"><span class="tag">&lt;<span class="title">label</span>&gt;</span>Order Date: {{purchaseOrder.createdAt | date:'MM/dd/yyyy'}}<span class="tag">&lt;/<span class="title">label</span>&gt;</span></div></pre>
<pre><div class="html xml"><span class="tag">&lt;<span class="title">label</span>&gt;</span>Order Date: {{date purchaseOrder.createdAt 'MM/DD/YYYY'}}<span class="tag">&lt;/<span class="title">label</span>&gt;</span></div></pre>
          <ul>
            <li><img src="images/angularjs-logo.png" alt="Angular Logo" height="50em" class="logo"> Angular Filters </li>
            <li><img src="images/emberjs-logo.png" alt="Ember Logo" height="50em" class="logo"> Handlebars Helpers </li>
            <li><img src="images/ko-logo.png" alt="Knockout Logo" height="50em" class="logo" > Knockout.Punches</li>
          </ul>
            <aside class="notes">
              <ul>
                <li>Keep Data in a Form that is easy to manipulate</li>
                <li>Bindings are for Responding to a Browser Events</li>
              </ul>
            </aside>
        </section>

        <section data-markdown>

          <script type="text/template">
            ## Seperation Of Concerns
            - Presentation Model is for Data
            - Templats Describe the Relationship Between DOM and Data
            - Bindings for DOM Manipulation and Event Handeling
            - Services for Business Logic
          </script>
        </section>

        <!-- <section data-markdown> -->
        <!--   <script type="text/template"> -->
        <!--     ## Best Strategy for Loading Data -->
        <!--     - Resolve Everything First (simple) -->
        <!--     - Load a Piece at a Time (Faster Perceived Performance) -->
        <!--   </script> -->
        <!-- </section> -->

        <section data-markdown>
          <script type="text/template">
            ## Use a Module System
            - Apps are Complex
            - Separate Repsonsibilites Calls for Separate Modules
            <aside class="notes">
              <ul>
                <li>Its really easy to create circular dependencies if you are using all gobals</li>
                <li>Angular gets props for encouraging modules with its dependency injection</li>
                <li>Require js</li>
                <li>ES6</li>
                <li>Browserfy</li>
              </ul>
            </aside>
          </script>
        </section>

        <section data-markdown>
          <script type="text/template">
            ## Unit Test
            - Test Seperatly
          </script>
        </section>

        <section>
          <h2>Concerns</h2>
          <ul>
            <li>"Over engineered and non obvious"</li>
            <li>"Think in (angular|ember|knockout)"</li>
            <li>Can't use native primitives; have to do things the framework way</li>
          </ul>
            <aside class="notes">
          <ul>
            <li>Competing with native application frameworks</li>
            <li>Think about manupulating data not the DOM</li>
            <li>For now doing things the framework way is a tradeoff</li>
          </ul>
            </aside>
        </section>

        <section data-markdown>
          <script type="text/template">
            #### Good?

            ```html
            <a href="#" ng-click="doSomething()">
            ```
           
            #### Bad?

            ```html 
            <a href="#" onclick="doSomething()">
            ```

            - `onclick` puts `doSomething` in the global scope
            - Connecting presentation and behavior has to be done somewhere

            ```html 
            <a href="#" {{action "doSomething"}}>
            ```
            <aside class="notes">
              <ul>
                <li>Seperating Technologies but not concerns</li>
                <li>Declarative templating is useful for debugging and understanding code</li>
                <li>As mentioned before having logic in the templates is still bad</li>
              </ul>
            </aside>
          </script>
        </section>

        <section data-markdown>
          <script type="text/template">
            ## Performance

            "Data Binding Frameworks are Slower Then Vanilla JavaScript"
            <aside class="notes">
              <ul>
                <li>Overheard To Dirty Checking or Setting up Subscriptions</li>
                <li>Native Vanilla JavaScript has problems too</li>
                <li>Let Framework authors worry about memory leaks</li>
                <li>As mentioned before having logic in the templates is still bad</li>
              </ul>
            </aside>
          </script>
        </section>


        <section data-markdown>
          <script type="text/template">
            ## Client Side Only
            "What about Google?"

            "Data Binding Frameworks are Slower Then Vanilla JavaScript"
            <aside class="notes">
              <ul>
                <li>For some things. This doesn't matter.</li>
                <li>People are working on ways to solve this</li>
                <li>Bustle, Discourse</li>
              </ul>
            </aside>
          </script>
        </section>

        <section data-markdown>
          <script type="text/template">
            ## Conclusion
            - Converging on the same pattern
            - Under the hood there are different tradoffs
            <aside class="notes">
              <ul>
                <li>Good for us as developers because we can take the design skills with us from one project to another</li>
                <li>As we've seen happen in the server MVC space</li>
                <li>I've glossed over a lot of the differneces between these frameworks</li>
                <li>Besides obvious API differences these frameworks ofter have made different trade offs under the hood</li>
                <li>In terms of performance, developer usability and </li>
                <li>Marius Gundersen JS Conf EU talks about some of the tradeoffs</li>
              </ul>
            </aside>
          </script>
        </section>

        <section data-markdown>
          <script type="text/template">
            ## Fin
            - Brendan McLoughlin
            - @bezomaxo
            - https://bmac.github.io/data-binding-best-practices
            <aside class="notes">
              <ul>
                <li>Repeat Questions</li>
              </ul>
            </aside>
          </script>
        </section>

        <!-- <section id="transitions"> -->
        <!--   <h2>Transition Styles</h2> -->
        <!--   <p> -->
        <!--     You can select from different transitions, like: <br> -->
        <!--     <a href="?transition=cube#/transitions">Cube</a> - -->
        <!--     <a href="?transition=page#/transitions">Page</a> - -->
        <!--     <a href="?transition=concave#/transitions">Concave</a> - -->
        <!--     <a href="?transition=zoom#/transitions">Zoom</a> - -->
        <!--     <a href="?transition=linear#/transitions">Linear</a> - -->
        <!--     <a href="?transition=fade#/transitions">Fade</a> - -->
        <!--     <a href="?transition=none#/transitions">None</a> - -->
        <!--     <a href="?#/transitions">Default</a> -->
        <!--   </p> -->
        <!-- </section> -->

      </div>

    </div>

    <script src="lib/js/head.min.js"></script>
    <script src="js/reveal.min.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/knockout-3.0.0rc.js"></script>
    <script src="js/handlebars-1.0.0.js"></script>
    <script src="js/ember.prod.js"></script>
<script>
var myModule = angular.module('myModule', []);
myModule.directive('numberInput', function () {
  return {
    template: '<input type="text"/>',
    restrict: 'E',
    require:'ngModel',
    link: function($scope, element, attrs, modelCtrl) {
      var $input = element.find('input'),
          input = $input[0];
      $input.addClass('form-control');
      window.input = input;
      window.modelCtrl = modelCtrl;
      $input.on('blur', function() {
        //$scope.$apply(function() {
          var num = parseInt(input.value.replace(/,/g, ''), 10);
          modelCtrl.$modelValue = num;
          $scope.price = num; 
          modelCtrl.$render();
          $scope.$apply();
        //});
      });

      modelCtrl.$render = function () {
        input.value = modelCtrl.$modelValue.toLocaleString();
      };
    }
  };
});

function DirectiveExampleController($scope) {
  $scope.price = 100;
  window.$scope = $scope;
}
</script>

    <script>

      // Full list of configuration options available here:
      // https://github.com/hakimel/reveal.js#configuration
      Reveal.initialize({
      controls: true,
      progress: true,
      history: true,
      center: true,

      theme: Reveal.getQueryHash().theme, // available themes are in /css/theme
      transition: Reveal.getQueryHash().transition || 'default', // default/cube/page/concave/zoom/linear/fade/none

      // Optional libraries used to extend on reveal.js
      dependencies: [
      { src: 'lib/js/classList.js', condition: function() { return !document.body.classList; } },
      { src: 'plugin/markdown/marked.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
      { src: 'plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
      { src: 'plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } },
      { src: 'plugin/zoom-js/zoom.js', async: true, condition: function() { return !!document.body.classList; } },
      { src: 'plugin/notes/notes.js', async: true, condition: function() { return !!document.body.classList; } }
      ]
      });

    </script>

  </body>
</html>
